@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--work__sans);
}

:root {
  /* Typography */
  --work__sans: "Work Sans", sans-serif;
  --crimson__text: "Crimson Text", serif;

  /* Colors */
  --green: #74c69d;
  --white: #fff;
  --black: #000;

  /* font sizes */
  --xsmall: 0.5rem;
  --small: 1rem;
  --xmedium: 1.5rem;
  --medium: 2rem;
  --large: 2.5rem;
  --xlarge: 3rem;
  --x2large: 3.5rem;
  --x3large: 4rem;
  --x4large: 4.5rem;
  --x5large: 5rem;

  /* display */
  --flex : {
    display: flex;
    align-items: center;
  }
}

.hero__section {
  background: var(--green);
  padding-bottom: 2rem;
}
.wrapper {
  margin: 0 auto;
  padding: 1.3rem;
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header h1 {
  color: var(--white);
  font-weight: 400;
  font-size: 2rem;
  font-family: var(--work__sans);
}
.logo__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  display: block;
  object-fit: cover;
  width: 50px;
  height: auto;
}

.menu {
  display: block;
  object-fit: cover;
  width: 50px;
  height: auto;
}
.hero__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.hero--img__section {
  margin-top: 1rem;
  color: var(--white);
}

.hero--img__section h2 {
  text-transform: uppercase;
  font-size: var(--small);
  letter-spacing: 5px;
  margin-top: 1rem;
}
.hero--img__section h3 {
  font-family: var(--crimson__text);
  font-size: var(--medium);
  margin-top: 1rem;
}

.btn {
  text-decoration: none;
  color: var(--black);
  background: var(--white);
  padding: 0.75rem 3rem;
  text-align: center;
  width: 56%;
  font-weight: 500;
  border-radius: 5px;
  font-size: var(--xmedium);
}
.btn__dark {
  text-decoration: none;
  color: var(--white);
  background: var(--black);
  padding: 0.75rem 2rem;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  font-size: var(--xmedium);
}

.btn__wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn__wrapper p {
  color: var(--white);
}

.partners__group1 {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.partners__group1 h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: var(--small);
  color: var(--green);
}

.partners__group1 h3 {
  font-family: var(--crimson__text);
  font-size: var(--medium);
}

.partners__group1 p {
  font-size: 1.2rem;
  font-weight: 500;
}

.partners__group1 .description {
  width: 80%;
  margin-left: 2rem;
}
.partners__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.partners__group2 {
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.article1 h3 {
  font-family: var(--crimson__text);
  font-size: var(--xmedium);
  margin-top: 1.2rem;
}

.article1 .btn__wrapper {
  margin-top: 1.2rem;
  gap: 20px;
}

.article1 p {
  color: rgba(33, 37, 41, 0.5);
}

.article__btn {
  width: 60%;
}

.article2 {
  margin-top: 2rem;
}
.article2 h3 {
  font-family: var(--crimson__text);
  font-size: var(--medium);
  margin-top: 1.2rem;
}

.article2 .btn__wrapper {
  margin-top: 1.2rem;
  gap: 20px;
}

.article2 p {
  color: rgba(33, 37, 41, 0.5);
}

.team__talent--img {
  border: 2px solid var(--black);
  border-radius: 50%;
}

.team__talent {
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  width: 89%;
  gap: 1rem;
  border-radius: 5px;
  box-shadow: 9px 9px 20px 1px rgba(0, 0, 0, 0.2);
}

.team__talent .head__ceo {
  margin-right: 8rem;
  font-family: var(--crimson__text);
  font-size: var(--xmedium);
}
.team__talent .ceo__position {
  margin-right: 11.9rem;
  text-transform: uppercase;
}

.team__talent .head__cto {
  margin-right: 4rem;
  font-family: var(--crimson__text);
  font-size: var(--xmedium);
}

.team__talent .cto__position {
  margin-right: 12rem;
  text-transform: uppercase;
}

.team__talent .lead__designer {
  margin-right: 3.5rem;
  font-family: var(--crimson__text);
  font-size: var(--xmedium);
}

.team__talent .designer__position {
  margin-right: 8.5rem;
  text-transform: uppercase;
}

.team__talent .lead__developer {
  margin-right: 8rem;
  font-family: var(--crimson__text);
  font-size: var(--xmedium);
}

.team__talent .developer__position {
  margin-right: 9.4rem;
  text-transform: uppercase;
}

.team__btn {
  width: 56%;
  padding: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  padding: 1rem;
  gap: 1rem;
}

.footer__layout {
  background: var(--green);
}

.social__links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.footer__copyright {
  text-align: center;
  margin: 1rem auto;
  font-size: 1.3rem;
  color: var(--white);
}

/* media queries for responsiveness */

@media (min-width: 720px) {
  .logo__container h1 {
    font-size: var(--xlarge);
  }

  .logo {
    width: 70px;
  }

  .menu {
    width: 70px;
  }

  .wrapper {
    padding: 2.3rem;
  }

  .hero--img__section {
    margin-top: 2rem;
  }

  .hero--img__section h2 {
    margin-top: 2rem;
    font-size: var(--xmedium);
  }

  .hero--img__section h3 {
    font-size: var(--large);
  }

  .btn {
    font-size: var(--medium);
    width: 40%;
  }

  .btn__wrapper p {
    font-size: var(--xmedium);
  }

  .partners__group1 {
    gap: 2rem;
  }

  .partners__img {
    width: 70%;
  }

  .partners__group1 h2 {
    font-size: var(--xmedium);
  }

  .partners__group1 h3 {
    font-size: var(--large);
  }

  .partners__group1 p {
    font-size: var(--xmedium);
  }

  .partners__group1 .description {
    width: 60%;
    margin-left: 8rem;
  }

  .partners__btn {
    width: 50%;
    font-size: var(--medium);
  }

  .article1 h3 {
    font-size: var(--large);
  }

  .article1 p {
    font-size: var(--medium);
  }

  .article__btn {
    width: 50%;
    font-size: var(--medium);
  }

  .article2 h3 {
    font-size: var(--large);
  }

  .article2 p {
    font-size: var(--medium);
  }

  .team__talent {
    width: 60%;
    padding: 2rem;
  }

  .team__btn {
    width: 50%;
    font-size: var(--medium);
  }

  .social__links {
    gap: 2rem;
  }

  .footer__icon {
    display: block;
    width: 50px;
    height: auto;
  }

  .footer__icon--facebook {
    width: 30px;
  }
  .footer__copyright {
    font-size: var(--medium);
  }
}

/* media queries for tablet screens */
@media (min-width: 820px) {
  .hero--img__section h2 {
    font-size: var(--medium);
  }

  .hero--img__section h3 {
    font-size: var(--xlarge);
  }

  .btn__wrapper {
    margin-top: 1.5rem;
    gap: 2rem;
  }

  .btn__wrapper p {
    font-size: var(--medium);
  }

  .btn {
    font-size: var(--large);
    width: 35%;
  }

  .partners__group1 h2 {
    font-size: var(--medium);
  }

  .partners__group1 h3 {
    font-size: var(--xlarge);
  }
  .partners__group1 p {
    font-size: var(--large);
  }

  .partners__group1 .description {
    margin-left: 4rem;
    width: 80%;
  }

  .partners__img {
    width: 57%;
  }

  .partners__btn {
    font-size: var(--large);
    width: 40%;
  }

  .article1 h3 {
    font-size: var(--xlarge);
  }
  .article1 p {
    font-size: var(--large);
  }

  .article2 h3 {
    font-size: var(--xlarge);
  }
  .article2 p {
    font-size: var(--large);
  }
  .article__btn {
    font-size: var(--large);
    width: 35%;
  }

  .team__talent {
    width: 50%;
    padding: 3rem;
  }

  .team__talent .head__ceo {
    font-size: var(--large);
  }

  .team__talent .ceo__position {
    font-size: var(--medium);
    margin-right: 14rem;
  }
  .team__talent .head__cto {
    font-size: var(--large);
    margin-right: 1rem;
  }

  .team__talent .lead__designer {
    font-size: var(--large);
  }

  .team__talent .designer__position {
    font-size: var(--medium);
    margin-right: 10.5rem;
  }

  .team__talent .lead__developer {
    font-size: var(--large);
  }

  .team__talent .developer__position {
    font-size: var(--medium);
    margin-right: 7.5rem;
  }
  .team__btn {
    width: 35%;
  }
}
